.header {
    padding: 15px 0 15px 30px;
}

.header button {
    background-color: transparent;
    border-color: blue;
    transition: all 0.3s;
    padding: 10px 15px;
    margin-right: 50px;
    cursor: pointer;
}

.header button:hover {
    background-color: blue;
    color: white;
}

